
.layout-portfolio {
  @include border-radius;
  background-color: $white;
  padding: .8em 0;
  margin: 0 -5.5% ;
  @include mq(medium) {
    padding-bottom: 0
  }
  @include mq(large) {
    margin: 0;
  }
}
